/* background */

body {
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header and main text */

h1 {
    color: darkgoldenrod;
}

.horsesForSale {
    color: darkgoldenrod;
}

.horsesInStock {
    position: absolute;
    top: 16px;
    right: 16px;
    color: gold;
    letter-spacing: 10px;
    text-shadow: goldenrod -3px -3px;
}

.horseGame {
    position: absolute;
    top: 140px;
    right: 16px;
    color: gold;
    letter-spacing: 10px;
    text-shadow: goldenrod -3px -3px;
}

.devLog {
    position: absolute;
    top: 112px;
    right: 16px;
    color: gold;
    letter-spacing: 10px;
    text-shadow: goldenrod -3px -3px;
}

.aboutUs {
    position: absolute;
    top: 64px;
    right: 16px;
    color: gold;
    letter-spacing: 10px;
    text-shadow: goldenrod -3px -3px;
}

h2 {
    color: darkgoldenrod;
}

h3 {
    color: darkgoldenrod;
}

p {
    text-align: center;
    color: goldenrod;
    font-style: italic;
    font-weight: bold;
    
    
    
}

/* button */

button {
    outline: none;
    display: grid;
    margin: auto;
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
    font-size: xx-large;
    color: brown;
}

.mainpicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    mix-blend-mode: multiply;
    opacity: 100;
    border-radius: 22px;

}

.horsepic1 {
    border-radius: 22px;
    position: relative;
    left: 16px;
}

.horsepic2 {
    border-radius: 22px;
    position: relative;
    left: 16px;
}

.horsetext {
    display: block;
    color: goldenrod;
    position:relative:
}

.horsepic3 {
    border-radius: 22px;
    position: relative;
    left: 16px;
}

.horsepic4{
    position: relative;
    left: 16px;
    border-radius: 22px;
    
}
.donkeysong {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: -50px;
    right: 10px; 
}

